.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

p {
    border-radius: 5px;
    border: 2px solid black;
    gap: 20px;
    margin: 30px 90px;
}